body {
  font-family: 'Varela Round', sans-serif;
  background-color:#ef2b41;
  color:#11130e ;
  max-width: auto;
  }
  
  section {
    text-align: center;
  }
  
  footer {
    position: relative;
    left: 0;
    bottom: -300px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: "Permanent Marker", cursive;
  }
  
  .game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border:2px solid #ffffff;
    width: 306px;
    margin: 50px auto;

  }
  
  .cell {
    font-family: 'Varela Round', sans-serif;
    color: #11130e;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
  }
  