body {
    background: linear-gradient(130deg,#53ac59 5%, #0f684b 5% 10%, #53ac59 10% 15%, #0f684b 15% 20%, #53ac59 20% 25%, #0f684b 25% 30%, #53ac59 30% 35%, #0f684b 35% 40%, #53ac59 40% 45%, #0f684b 45% 50%, #53ac59 50% 55%, #0f684b 55% 60%,#53ac59 60% 65%, #0f684b 65% 70%, #53ac59 70% 75%,#0f684b 75% 80%, #53ac59 80% 85%, #0f684b 85% 90%, #53ac59 90% 95%, #0f684b 95% 100%);
}
#sobremim {
    font-family: 'Concert One', sans-serif;
    font-size: 20px;
    margin: 1%
}
table {
    margin: 1%
}
hr {
    border: 3px solid rgb(19, 19, 19);
    border-radius: 3px;
    margin: 1%
}
.titulos {
    font-family: 'Concert One', sans-serif;
    display: inline-block;
    border-radius: 20px;
    background-color: #03484c;
    padding: 10px;
    margin: 1%;
}
#roundimg {
    border-radius: 50%;
    border: 30px solid #ab8314;
    margin: 1%;
    -webkit-animation: rotate-center 1s both;
    animation: rotate-center 1s both;
}
.tabcateg {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 20px;
    color:#000000
}
.tabinfo {
    background-color: #3b8952;
    font-family: 'Balsamiq Sans', sans-serif;
    color:#000000
}
.header {
    grid-area: header;
}
.sidenav {
    grid-area: sidenav;
}
.content {
    grid-area: main
}
.footer {
    grid-area: footer;
}
.container {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-areas: "header header"
                         "sidenav main"
                         "footer footer"
                                    ;                        
}
@media screen and (max-width: 620px) {
     .container {
    display: flex;
    flex-direction:column;
}  
}
.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
}
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } 
  /*
  .slide-left {
	-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(-10px);
    }
  }
  */ 
  #darklight {
    position:fixed;
    top: 7%; 
    right: 4%;
  }
  .dark {
  background: linear-gradient(130deg,#1d4a44 5%, #0f2e26 5% 10%, #1d4a44 10% 15%, #0f2e26 15% 20%, #1d4a44 20% 25%, #0f2e26 25% 30%, #1d4a44 30% 35%, #0f2e26 35% 40%, #1d4a44 40% 45%, #0f2e26 45% 50%, #1d4a44 50% 55%, #0f2e26 55% 60%,#1d4a44 60% 65%, #0f2e26 65% 70%, #1d4a44 70% 75%,#0f2e26 75% 80%, #1d4a44 80% 85%, #0f2e26 85% 90%, #1d4a44 90% 95%, #0f2e26 95% 100%);
}
.dtitle {
color:#ffffff
}
.dtab {
font-family: 'Balsamiq Sans', sans-serif;
color:#ffffff
}