body {
    background-color:#a0ce47;
}

.verdtom1 {
    background-color: #538904;
}
.verdtom2 {
    background-color: #669b08;
} 
.verdtom3 {
    background-color: #79ad0b;
}
.verdtom4 {
    background-color: #8cbf0f;
}